.right-pane{
    height: 100%;
    width: 400px;
    background-color: white;
    padding-right: 0px;
    box-sizing: border-box;
    z-index: 2;
    border-top-right-radius: 0.5rem ;
    border-bottom-right-radius: 0.5rem;
    padding-top: 20px;
}

.signin{
    text-align: left;
    margin-left: 40px;
    padding-top: 20px;
    color: rgb(0 0 0 / 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}