.main-window{
    background: url("../../../public/images/sign-up_bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-window{
    display: flex;
    background-color: white;
    justify-content: flex-start;
    border-radius: 0.32rem;
    box-shadow: 0 4px 20px rgb(0 0 0 / 0.4);
    width: 75vw;
    height: 80vh;
    overflow: hidden;
}