.chats{
    background-color: white;
    border-right: 2px solid rgba(107, 114, 128, 0.5);
    height: 100%;
    width: 25%;
    flex-basis: 25%;
}
.chat-heading{
    text-align: center;
    padding: 11px 10px;
    font-size: 20px;
    box-sizing: border-box;
}