.user-contact-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 70px;
    padding: 0px 1.5vw;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0 0 0 /0.2);
    border-top: 1px solid rgba(0 0 0 /0.2) ;
}
.user-contact-username{
    font-size: 25px;
    padding-top: 2.5vh;
    margin-left: 2vw;
    letter-spacing: 0.001vw;
    font-family: sans-serif;
}
.user-contact-image-container{
    width: 4vw;
    border-radius: 100%;
    overflow: hidden;
    height: 8vh;
    margin-top: 5px;
}
.user-contact-image-container img{
    height: 100%;
    width: 100%;
}