@keyframes slideIn {
    0% {
        width: 0px;
        bottom: -100px;
        box-shadow: none;
        visibility: hidden;
        text-indent: -9999px;
    }

    30% {
        
        text-indent: 0px;
        bottom: 50vh;
        width: 15vw;
        visibility: visible;
        box-shadow: 0px 0px 0px 0px rgb(0 0 0);
    }

    80% {
        text-indent: 0px;
        bottom: 50vh;
        width: 15vw;
        box-shadow: 0px 0px 20px 8px rgb(154, 48, 228);
    }

    100% {
        width: 0px;
        bottom: -100px;
        box-shadow: none;
    }
}


.popup {
    visibility: hidden;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 8px;
    opacity: 1;
    z-index: 9999;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.popup.visible {
    animation-name: slideIn;
}

.popup-content {
    padding: 16px;
    text-align: center;
}